<div id="<%= dom_id schedule %>">
  <p>
    <strong>Mentor:</strong>
    <%= schedule.mentor_id %>
  </p>

  <p>
    <strong>Mentee:</strong>
    <%= schedule.mentee_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= schedule.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= schedule.description %>
  </p>

  <p>
    <strong>Accepted:</strong>
    <%= schedule.accepted %>
  </p>

</div>
